#barra_inicial{
	background-color: lightskyblue;
	text-align: center;
	padding: 15px;
	border: dashed 5px 	#1C1C1C;
}
#logo, #menu_barra{
	padding-bottom: 10px;
}
#sp1{
	color: white;
	text-shadow: 1px 1px 2px black;
}
#sp2{
	color: white;
	text-shadow: 1px 1px 2px black;
}
#sp3{
	color: white;
	text-shadow: 1px 1px 2px black;
} 

#sp4{
	color: lightcyan;
	text-shadow: 1px 1px 2px black;
}

/*LINKS */
#barra_inicial a:link, #barra_inicial a:visited{
	color: lightcyan;
	padding: 8px 15px;
	text-decoration: none;
}
#barra_inicial a:hover{
	color: #2F4F4F;
	background-color: lightcyan;
	text-decoration: none;

}

#area_principal{
	background-color: #F0FFFF;
	width: 920px;
	margin: 0 auto;
	padding: 15px;
}
.postagens{
	padding: 20px;
	margin-bottom: 20px;
	background-color: white;
	border: dashed 2px lightcyan;
}
#areapostagens{
	width: 660px;
	float: left;
}
#barra_lateral{
	width: 240px;
	float: right;
}

#rodape{
	font-weight: bold;
	clear: both;
	text-align: left;
	padding: 1em;
	background: #FFD700;
}


/*
	geralzao
*/

h1{
	font-size: 2.5em;
}

h2{
	color: #2F4F4F;
}
#post_lat{
	background-color: #FFDEAD;
	padding: 5px;
}
#datas{
	text-align: right;
	color: gray;
	font-size: 0.8em;
}
#titulos{
	background-color: #FFDEAD;
}
p{
	text-align: justify;
	font-weight: bold;
}
body{
	background-color: #d3d3d3;
}

.title{
	font-size: 1.5em;
	font-weight: bold;
	background-color: #ffa500;
}
.result{
	display: flex;
  margin-left: 17.5em;
  align-items: center;
  width: 300px;
  height: 150px;
  border-radius: 5px black dashed;
  font: italic 1.5rem serif;
  box-shadow: 0px 0px 10px pink;
  background: tomato;
  color: rgb(255,198,0);
  padding-left: 20em;
  box-sizing: border-box;
  user-select: none;
}
button{
	background-color: lightgoldenrodyellow;
}

/*
	geralzao
*/

/*
	calc*ladora
*/

